# IDE
.idea
.vscode
*bin

# Ignore Gradle project-specific cache directory
build-tools/gradleBT/Phase01/.gradle
build-tools/gradleBT/Phase03/.gradle

# Ignore Gradle build output directory
build-tools/gradleBT/Phase01/build
build-tools/gradleBT/Phase03/build
build-tools/gradleBT/Phase03/.env
build-tools/gradleBT/Phase03/.env.test
build-tools/gradleBT/Phase03/common/build
build-tools/gradleBT/Phase03/service-api/build
build-tools/gradleBT/Phase03/service-core/build

# Ignore module-OOPs not required
module-OOPs/interest/build
module-OOPs/interest/.gradle
module-OOPs/interest/gradle
module-OOPs/interest/gradlew.bat
module-OOPs/interest/gradlew
module-OOPs/Banking/gradlew
module-OOPs/Banking/gradle
module-OOPs/Banking/gradlew.bat
module-OOPs/Banking/.gradle
module-OOPs/Banking/build
module-OOPs/Employee8/.gradle
module-OOPs/Employee8/gradle
module-OOPs/Employee8/gradlew.bat
module-OOPs/Employee8/gradlew
module-OOPs/Employee8/build

# Ignore module-JCF not required
module-JCF/SmartMart/gradlew
module-JCF/SmartMart/gradle
module-JCF/SmartMart/gradlew.bat
module-JCF/SmartMart/.gradle
module-JCF/SmartMart/build